.idea/
.venv/
__pycache__/
*.pyc
.env

data/raw/*
data/extracted/*
data/cleaned/*
data/chunks/*
data/reports/*
data/images/*
data/embeddings/*

!data/raw/.gitkeep
!data/extracted/.gitkeep
!data/cleaned/.gitkeep
!data/chunks/.gitkeep
!data/reports/.gitkeep
!data/images/.gitkeep
!data/embeddings/.gitkeep

!data/sample/
!data/sample/**